/* Define estilos básicos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/* Define o plano de fundo do corpo da página */
body {
    background: linear-gradient(to bottom, #a0c8e0, #3a5b81);
}

/* Estiliza o contêiner principal */
.container {
    background-color: #a0c8e0; /* Azul claro */
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

/* Estiliza a caixa de entrada de texto */
.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

/* Estiliza o botão de adicionar tarefa */
.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #3a5b81; /* Azul escuro */
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

/* Estiliza a lista de tarefas */
.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

/* Estiliza cada tarefa individual */
.task {
    background-color: #b4d2e5; /* Azul claro */
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Estiliza as imagens dentro de cada tarefa */
img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Mostra as imagens quando o mouse passa sobre a tarefa */
.task:hover img {
    opacity: 1;
}

/* Estiliza tarefas concluídas com uma linha de texto tachada */
.done {
    background-color: #3a5b81; 
    text-decoration: line-through;
}
